<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sukurti Naują Užsakymą</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div th:replace="fragments/navbar"></div>

<h2>Sukurti Naują Užsakymą</h2>

<div class="create-order-form">
    <form>
        <label for="username">Klientas:</label>
        <input type="text" id="username" name="username" required>

        <label for="orderDate">Užsakymo Data:</label>
        <input type="date" id="orderDate" name="orderDate" required>

        <label for="paymentMethod">Mokėjimo Metodas:</label>
        <select id="paymentMethod" name="paymentMethod">
            <option value="card">Kortelė</option>
            <option value="cash">Grynais</option>
            <option value="bank_transfer">Banko pavedimas</option>
        </select>

        <label for="orderStatus">Užsakymo Būsena:</label>
        <select id="orderStatus" name="orderStatus">
            <option value="pending">Laukiama</option>
            <option value="completed">Įvykdyta</option>
            <option value="cancelled">Atšaukta</option>
        </select>

        <button type="submit">Sukurti Užsakymą</button>
    </form>
</div>

</body>
</html>
