<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Užsakymų Sąrašas</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<!-- Navigation bar -->
<div th:insert="~{fragments/navbar}"></div>

<h2>Užsakymų Sąrašas</h2>

<table>
    <thead>
    <tr>
        <th>Užsakymo ID</th>
        <th>Klientas</th>
        <th>Data</th>
        <th>Bendra suma</th>
        <th>Apmokėjimas</th>
        <th>Būsena</th>
        <th>Tipas</th>
        <th>Veiksmai</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="order : ${orders}">
        <td th:text="${order.id}"></td>
        <td th:text="${order.client.slapyvardis}"></td>
        <td th:text="${order.data}"></td>
        <td th:text="${order.bendraSuma}"></td>
        <td th:text="${order.paymentType.name}"></td>
        <td th:text="${order.statusType.name}"></td>
        <td th:text="${order.orderType.name}"></td>
        <td>
            <a th:href="@{/view-order(id=${order.id})}" class="action-button">Peržiūrėti</a>
            <a th:if="${isAdmin}" th:href="@{/edit-order(id=${order.id})}" class="action-button">Redaguoti</a>
            <a th:if="${isAdmin}" th:href="@{/delete-order(id=${order.id})}" class="action-button">Ištrinti</a>
        </td>
    </tr>
    </tbody>
</table>

<div class="center-actions">
    <button th:if="${isAdmin}" onclick="window.location.href='/generate-report'">Generuoti Ataskaitą</button>
    <button onclick="window.location.href='/create-order'">Sukurti Naują Užsakymą</button>
</div>

</body>
</html>
