<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Užsakymo Peržiūra</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div th:replace="~{fragments/navbar}"></div>
<h2>Užsakymo Peržiūra</h2>
<div class="container">
    <div class="edit-order">
        <p><strong>Klientas:</strong> Vardenis</p>
        <p><strong>Užsakymo data:</strong> 2024-11-01</p>
        <p><strong>Mokėjimo metodas:</strong> Kortele</p>
        <p><strong>Užsakymo būsena:</strong> Vykdoma</p>
    </div>
</div>
</body>
</html>
