<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Darbuotojo sukurimas</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div th:insert="~{fragments/navbar}"></div>

<h2>Darbuotojo sukurimas</h2>
<form th:action="@{/personnel-list/create/submit}" th:object="${employee}" th:method="post">
    <div th:if="${error}" style="color: red;">
        <p th:text="${error}"></p>
    </div>
    <div>
        <label>Vardas: </label><input type="text" name="vardas" th:field="*{user.vardas}" required/>
        <label>Pavardė: </label><input type="text" name="pavarde" th:field="*{user.pavarde}" required/>
        <label>Asmens kodas: </label><input type="text" name="asmenskodas" th:field="*{asmensKodas}" required/>
        <label>Pareigos: </label><input type="text" name="pareigos" th:field="*{pareigos}" required/>
        <label>Ar registruojamas administratorius: </label><input type="checkbox" name="selected">
        <label>Gimimo data: </label><input type="date" name="gimimodata" th:field="*{user.gimimoData}" required/>
        <label>El. Paštas: </label><input type="text" name="elPastas" th:field="*{user.elPastas}" required/>
        <label>Telefonas: </label><input type="text" name="telefonas" th:field="*{telefonas}" required/>
        <label>Adresas: </label><input type="text" name="adresas" th:field="*{adresas}" required/>
        <label>Lytis: </label><input type="text" name="lytis" th:field="*{user.lytis}" required/>
        <label for="miestas">Miestas:</label>
        <select id="miestas" th:field="*{miestas}">
            <option value="1" disabled selected>Choose a city</option>
            <option th:each="city : ${cities}"
                    th:value="${city.id}"
                    th:text="${city.pavadinimas}">
            </option>
        </select>

        <label>Slaptazodis: </label><input type="text" name="slaptazodis" th:field="*{user.slaptazodis}" required/>

    </div>
    <button type="submit">Sukurti</button>
</form>
<a th:href="@{/personnel-list}">Atgal į sarašą</a>

</body>
</html>
