<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Darbuotojo redagavimas</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div th:insert="~{fragments/navbar}"></div>

<h2>Darbuotojo informacijos redagavimas</h2>

<form th:action="@{/personnel-list/edit/save/{id}(id=${employee.idNaudotojas})}" th:method="post" th:object="${employee}">

    <div th:if="${error}" style="color: red;">
        <p th:text="${error}"></p>
    </div>

    <div>
        <input type="hidden" name="id" th:value="*{idNaudotojas}" />
        <label>Vardas: </label><input type="text" name="vardas" th:field="*{user.vardas}" required/>
        <label>Pavardė: </label><input type="text" name="pavarde" th:field="*{user.pavarde}" required/>
        <label>Gimimo data: </label><input type="date" name="gimimodata" th:field="*{user.gimimoData}" required/>
        <label>Pareigos </label><input type="text" name="pareigos" th:field="*{pareigos}" required/>
        <label>El. Paštas: </label><input type="text" name="elPastas" th:field="*{user.elPastas}" required/>
        <label>Alga: </label><input type="number" step="0.01" name="alga" th:field="*{alga}" required/>
        <label>Telefonas: </label><input type="text" name="telefonas" th:field="*{telefonas}" required/>
        <label>Adresas: </label><input type="text" name="adresas" th:field="*{adresas}" required/>
        <label>Atostogų dienos: </label><input type="number" name="atostogos" th:field="*{atostoguDienos}" required/>
        <label>Lytis: </label><input type="text" name="lytis" th:field="*{user.lytis}" required/>
    </div>
    <button type="submit">Išsaugoti</button>
</form>

</body>
</html>
