<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Darbuotojų sarašas</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div th:insert="~{fragments/navbar}"></div>

<h2>Darbuotojų sarašas</h2>

<form th:action="@{/personnel-list/salary/calculate}" th:method="post" >
    <table>
        <thead>
        <tr>
            <th>Darbuotojo ID</th>
            <th>Vardas</th>
            <th>Pavarde</th>
            <th>Pareigos</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employee : ${employees}">
            <td th:text="${employee.idNaudotojas}"></td>
            <td th:text="${employee.user.vardas}"></td>
            <td th:text="${employee.user.pavarde}"></td>
            <td th:text="${employee.pareigos}"></td>
            <td>
                <input type="checkbox" name="selected" th:value="${employee.idNaudotojas}">
            </td>
        </tr>
        </tbody>
    </table>
    <button type="submit">Skaičiuoti</button>
</form>
<a th:href="@{/personnel-list}">Atgal į sarašą</a>

<div th:if="${info}" style="color: blue;">
    <p th:text="${info}"></p>
</div>
</body>
</html>
