<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Darbuotojų sarašas</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div th:insert="~{fragments/navbar}"></div>

<h2>Darbuotojo informacija</h2>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Vardas</th>
        <th>Pavarde</th>
        <th>Asmens Kodas</th>
        <th>Pareigos</th>
        <th>Darbo Pradžia</th>
        <th>Alga</th>
        <th>Telefonas</th>
        <th>Adresas</th>
        <th>Atostogų Dienos</th>
        <th>Miestas</th>
        <th colspan="2">Veiksmai</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${employee.idNaudotojas}"></td>
        <td th:text="${employee.user.vardas}"></td>
        <td th:text="${employee.user.pavarde}"></td>
        <td th:text="${employee.asmensKodas}"></td>
        <td th:text="${employee.pareigos}"></td>
        <td th:text="${#temporals.format(employee.nuoKadaDirba, 'yyyy-MM-dd')}"></td>
        <td th:text="${employee.alga}"></td>
        <td th:text="${employee.telefonas}"></td>
        <td th:text="${employee.adresas}"></td>
        <td th:text="${employee.atostoguDienos}"></td>
        <td th:text="${employee.miestas?.pavadinimas}"></td>
        <td>
            <button th:onclick="|window.location='@{/personnel-list/edit/{id}(id=${employee.idNaudotojas})}'|">Redaguoti</button>
        </td>
        <td>
            <button th:onclick="|window.location='@{/personnel-list/edit/delete/confirm/{id}(id=${employee.idNaudotojas})}'|">Ištrinti</button>
        </td>
    </tr>
    </tbody>
</table>
<a th:href="@{/personnel-list}">Atgal į sarašą</a>

</body>
</html>
