<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Produktų Sąrašas</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<!-- Navigation bar -->
<div th:replace="~{fragments/navbar}"></div>

<h2>Produktų Sąrašas</h2>

<table>
    <thead>
    <tr>
        <th>Kategorijos pavadinimas</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Daržovės</td>
        <td><button type="button" onclick="window.location.href='/products/categories/darzove'">Select</button></td>
    </tr>
    <tr>
        <td>Vaisiai</td>
        <td><button type="button" onclick="window.location.href='/products/categories/vaisius'">Select</button></td>
    </tr>
    <tr>
        <td>Grudiniai produktai</td>
        <td><button type="button" onclick="window.location.href='/products/categories/grudai'">Select</button></td>
    </tr>
    <tr>
        <td>Gėrimai</td>
        <td><button type="button" onclick="window.location.href='/products/categories/gerimas'">Select</button></td>
    </tr>
    <tr>
        <td>Mėsos produktai</td>
        <td><button type="button" onclick="window.location.href='/products/categories/mesa'">Select</button></td>
    </tr>
    <tr>
        <td>Jūros gerybės</td>
        <td><button type="button" onclick="window.location.href='/products/categories/juros_gerybe'">Select</button></td>
    </tr>
    <tr>
        <td>Pieno produktai</td>
        <td><button type="button" onclick="window.location.href='/products/categories/pieno'">Select</button></td>
    </tr>
    </tbody>
</table>

<div class="center-actions">
    <button onclick="window.location.href='/products'">Gryžti į sarašą</button>
</div>

</body>
</html>
