<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Produktų Papildymas</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<!-- Navigation bar -->
<div th:replace="~{fragments/navbar}"></div>

<h2>Produktų Papildymas</h2>
<form th:action="@{/products/create/submit}" th:object="${product}" th:method="post">
    <div>
        <label>Pavadinimas: </label><input type="text" name="pavadinimas" th:field="*{pavadinimas}" required/>

        <label for="type">Produkto tipas:</label>
        <select id="type" th:field="*{type}">
            <option value="0" disabled selected>Pasirink produkto tipą</option>
            <option th:each="productType : ${productTypes}"
                    th:value="${productType.id}"
                    th:text="${productType.name}">
            </option>
        </select>
    </div>
    <button type="submit">Papildyti</button>
</form>


<div class="center-actions">
    <button onclick="window.location.href='/products'">Gryžti į sarašą</button>
</div>
</body>
</html>
