<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produktų Papildymas</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<!-- Navigation bar -->
<div th:insert="~{fragments/navbar}"></div>

<h2>Produktų Papildymas</h2>

<form th:action="@{/products/create}" th:object="${product}" method="post">
    <div>
        <label>Pavadinimas: </label>
        <input type="text" th:field="*{pavadinimas}" placeholder="Įveskite pavadinimą" required />

        <label>Kategorija: </label>
        <select th:field="*{kategorija.id}" required>
            <option th:each="category : ${categories}"
                    th:value="${category.id}"
                    th:text="${category.name}">
            </option>
        </select>

        <label>Kiekis: </label>
        <input type="number" th:field="*{kiekis}" min="1" placeholder="Įveskite kiekį" required />
    </div>

    <button type="submit" style="border: 2px solid #04AA6D; width:100px;">Papildyti</button>
</form>

<div class="center-actions">
    <a th:href="@{/products}" class="back-link">Gryžti į sarašą</a>
</div>

</body>
</html>
