<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Produkto Pašalinimas</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div th:replace="~{fragments/navbar}"></div>
<h2>Patvirtinti Produkto Pašalinimą</h2>
<div class="center-actions">
    <p>Ar tikrai norite pašalinti šį produktą?</p>
    <button onclick="window.location.href='/products'" class="delete-button">Taip, pašalinti</button>
    <a href="/products" class="cancel-link">Atšaukti</a>
</div>
</body>
</html>
