<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Produkto Pašalinimas</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div th:insert="~{fragments/navbar}"></div>
<h2>Patvirtinti Produkto Pašalinimą</h2>
<div class="center-actions">
    <p>Ar tikrai norite pašalinti Šį personalą?</p>
    <td>
        <button th:onclick="|window.location='@{/products/delete/{id}(id=${product.id})}'|" style="border: 2px solid #c20615; width:76px;" class="modify-button">Taip, pašalinti</button>
    </td>
    <a href="/products" class="cancel-link">Atšaukti</a>
</div>
</body>
</html>
