<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Produktų Užsakymas</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<!-- Navigation bar -->
<div th:replace="~{fragments/navbar}"></div>

<h2>Produktų Užsakymas</h2>
<div th:if="${error}" style="color: red;">
    <p th:text="${error}"></p>
</div>
<form th:action="@{/products/order/save/{id}(id=${product.id})}" th:method="post" th:object="${product}">
    <input type="hidden" name="id" th:value="*{id}" />

    <label>Pavadinimas: </label><input type="text" name="pavadinimas" th:field="*{pavadinimas}" required disabled/>
    <label>Turimas kiekis: </label><input type="number" name="kiekis" th:field="*{kiekis}" required disabled/>
    <label>Kiek užsakyti: </label><input type="number" name="uzsakyti" required />

    <button type="submit">Išsaugoti</button>
</form>

<div class="center-actions">
    <button onclick="window.location.href='/products'">Gryžti į sarašą</button>
</div>

</body>
</html>
