<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Produktų Užsakymas</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<!-- Navigation bar -->
<div th:replace="~{fragments/navbar}"></div>

<h2>Produktų Užsakymas</h2>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Pavadinimas</th>
        <th>Dabartinis kiekis</th>
        <th>Kiek pirkti</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>1</td>
        <td>Pomidoras</td>
        <td>10</td>
        <td><input type="number"></td>

    </tr>
    <tr>
        <td>2</td>
        <td>Agurkas</td>
        <td>10</td>
        <td><input type="number"></td>

    </tr>
    <tr>
        <td>3</td>
        <td>Pupelės</td>
        <td>5</td>
        <td><input type="number"></td>

    </tr>
    <tr>
        <td>4</td>
        <td>Baklažanas</td>
        <td>20</td>
        <td><input type="number"></td>
    </tr>
    <tr>
        <td>5</td>
        <td>Krienas</td>
        <td>20</td>
        <td><input type="number"></td>
    </tr>
    <tr>
        <td>6</td>
        <td>Svogūnas</td>
        <td>20</td>
        <td><input type="number"></td>
    </tr>
    <tr>
        <td colspan="4">
            <button onclick="window.location.href='/products'">Užsakyti</button>
        </td>
    </tr>
    </tbody>

</table>

<div class="center-actions">
    <button onclick="window.location.href='/products'">Gryžti į sarašą</button>
</div>

</body>
</html>
