<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produktų Užsakymas</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<!-- Navigation bar -->
<div th:insert="~{fragments/navbar}"></div>

<h2>Produktų Užsakymas</h2>

<form th:action="@{/products/order/submit}" th:object="${order}" th:method="post">
    <div th:if="${error}" style="color: red;">
        <p th:text="${error}"></p>
    </div>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Pavadinimas</th>
            <th>Dabartinis Kiekis</th>
            <th>Kiek Užsakyti</th>
        </tr>
        </thead>
        <tbody>
        <!-- Dynamically populate rows using Thymeleaf -->
        <tr th:each="product : ${order.products}">
            <td th:text="*{product.id}"></td>
            <td th:text="*{product.pavadinimas}"></td>
            <td th:text="*{product.kiekis}"></td>
            <td><input type="number" th:field="*{product.orderQuantity}" min="0" required></td>
        </tr>
        </tbody>
    </table>

    <button style="border: 2px solid #04AA6D; width:76px;" class="view-button" type="submit">Užsakyti</button>
</form>

<a th:href="@{/products}">Atgal į produktų sąrašą</a>

</body>
</html>
