<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produktų Sąrašas</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<!-- Navigation bar -->
<div th:insert="~{fragments/navbar}"></div>

<div>
    <button type="button" onclick="window.location.href='/products/create'">Pildyti produktus</button>
    <button type="button" onclick="window.location.href='/products/order'">Užsakyti produktus</button>
    <button type="button" onclick="window.location.href='/products/categories'">Produktai pagal kategoriją</button>
</div>

<h2>Produktų Sąrašas</h2>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Pavadinimas</th>
        <th>Kiekis</th>
        <th>Kategorija</th>
        <th colspan="2">Veiksmai</th>
    </tr>
    </thead>
    <tbody>
    <!-- Dynamically populate rows using Thymeleaf -->
    <tr th:each="product : ${products}">
        <td th:text="${product.id}"></td>
        <td th:text="${product.pavadinimas}"></td>
        <td th:text="${product.kiekis}"></td>
        <td th:text="${product.kategorija.name}"></td>
        <td>
            <button th:onclick="|window.location='@{/products/edit/{id}(id=${product.id})}'|" style="border: 2px solid #0609c7; width:76px;" class="modify-button">Redaguoti</button>
        </td>
        <td>
            <button th:onclick="|window.location='@{/products/delete/confirm/{id}(id=${product.id})}'|" style="border: 2px solid #c20615; width:76px;" class="modify-button">Ištrinti</button>
        </td>
    </tr>
    </tbody>
</table>

<a th:href="@{/products}" class="back-button">Atgal į produktų sąrašą</a>

</body>
</html>
