<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Prašymas dėl atostogų</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>

<div class="container">
  <h1>Prašymas dėl atostogų</h1>
  <form action="/" method='get'>
    <div class="form-group">
      <label for="dateFrom">Pasirinkite dieną (nuo):</label>
      <input type="date" id="dateFrom" name="dateFrom" required>
    </div>
    <div class="form-group">
      <label for="dateTo">Pasirinkite dieną (iki):</label>
      <input type="date" id="dateTo" name="dateTo" required>
    </div>
    <button class="submit-button">Pateikti prašymą</button>
  </form>
  <form action="/" method="get">
    <button class="submit-button">grįžti atgal</button>
  </form>
</div>

</body>
</html>
