<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Darbo Grafikas - Savaitė</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

<div class="container">
    <h1>Darbo Grafikas - Savaitė <span th:text="${weekNumber}"></span></h1>

    <div class="schedule-list">
        <div th:each="entry, iter : ${schedule}">
            <p th:text="${entry}"></p>
        </div>
    </div>

    <a href="/work-schedule">Grįžti į savaitės apžvalgą</a>
</div>
<script>
    function removeWorker(workerIndex) {
        alert("Remove worker at index: " + workerIndex);
    }
</script>

</body>
</html>
