<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Redaguoti Darbo Grafiką - Savaitė</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>

<div class="container">
  <h1>Redaguoti Darbo Grafiką - Savaitė <span th:text="${weekNumber}"></span></h1>
  <form th:action="@{/work-schedule/week/{weekNumber}/save}" th:method="post" th:object="${schedule}">
    <div class="schedule-list">
      <div th:each="entry, iter : ${schedule}">
        <label>Darbuotojas:</label>
        <input type="text" name="workerEntries" th:value="${entry}" />
      </div>
    </div>

    <button type="submit">Save</button>
  </form>

  <a th:href="@{/work-schedule}">Atgal į sarašą</a>
</div>
<script>
  function removeWorker(workerIndex) {

  }
</script>
</body>
</html>
