<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Darbuotojų sarašas</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div th:include="fragments/navbar"></div>
<div class="container">

    <h1>Darbuotojų sarašas</h1>
    <table class="styled-table">
        <thead>
        <tr>
            <th>Tab Nr</th>
            <th>Vardas</th>
            <th>Pavardė</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="worker : ${workers}">
            <td th:text="${worker.Tab_nr}"></td>
            <td th:text="${worker.Name}"></td>
            <td th:text="${worker.LastName}"></td>
<!--            <td th:text="${worker.Address}"></td>-->
            <td>
                <a th:href="@{/personnel-list/view/{id}(id=${worker.Tab_nr})}">
                    <button style="border: 2px solid #04AA6D;" class="view-button">Peržiūrėti</button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>
