<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kurti rezervaciją</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div th:insert="~{fragments/navbar}"></div>
<div >
    <h1>Nauja rezervacija</h1>
    <form th:action="@{/reservations/create/submit}" th:object="${reservation}" method="post">
        <label>Rezervacijos Pradzia:</label><input type="datetime-local" name="pradzia" th:field="*{pradzia}" required/>
        <label>Rezervacijos Pabaiga:</label><input type="datetime-local" name="pabaiga" th:field="*{pabaiga}" required/>
        <label>žmonių kiekis:</label><input type="number" name="zmoniuKiekis" th:field="*{zmoniuKiekis}" required/>
        <label>Pageidavimas:</label><input type="text" name="pageidavimas" th:field="*{pageidavimas}" />
        <label for="staliukoNr">Pasirinkite staliuką:</label>
        <select id="staliukoNr" name="staliukoNr" required>
            <option value="" disabled selected>Pasirinkite staliuką</option>
            <th:block th:each="staliukas : ${staliukai}">
                <option th:value="${staliukas.staliukas}"
                        th:text="'Staliukas ' + ${staliukas.staliukas} + ' - ' + ${staliukas.vietuSkaicius} + ' vietos'"></option>
            </th:block>
        </select>


        <button type="submit" style="background-color: #4CAF50; color: white;">Patvirtinti rezervaciją</button>
    </form>

    <a th:href="@{/reservations}"><button>Atgal į sarašą</button></a>
</div>
</body>
</html>