<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rezervacijos ištrinimas</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div th:insert="~{fragments/navbar}"></div>

  <form th:action="@{/reservations/delete/{id}(id=${reservation.rezervacija})}" method="post">
    <h1>Ar tikrai ištrinti rezervaciją?</h1>
    <p><strong>Rezervacijos Nr.:</strong> <span th:text="${reservation.rezervacija}"></span></p>
    <p><strong>Klientas:</strong> <span th:text="${reservation.klientas.slapyvardis}"></span></p>
    <p><strong>Rezervacijos pradžia:</strong> <span th:text="${reservation.pradzia}"></span></p>
    <p><strong>Rezervacijos pabaiga:</strong> <span th:text="${reservation.pabaiga}"></span></p>
    <button type="submit" style="background-color: red; color: white;">Ištrinti</button>
    <a href="/reservations" class="cancel-link">Atšaukti</a>
  </form>

</body>
</html>
