<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rezervacijos ištrinimas</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div th:insert="~{fragments/navbar}"></div>
<div class="center-actions">
  <h1>Ar tikrai ištrinti rezervaciją?</h1>
  <td>
    <button th:onclick="|window.location='@{/reservations/delete/{id}(id=${reservation.id})}'|" style="border: 2px solid #c20615; width:76px;" class="modify-button">Taip, pašalinti</button>
  </td>
  <!-- Final confirmation button
  <form th:action="@{/reservations/delete/confirm/{id}(id=${reservation.id})}" method="post">
    <button type="submit" style="background-color: red; color: white;">Ištrinti</button>
  </form>
  -->
  <a href="/reservations" class="cancel-link">Atšaukti</a>

</div>
</body>
</html>