<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rezervacijos redagavimas</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div th:insert="~{fragments/navbar}"></div>
<h1>Rezervacijos informacijos redagavimas</h1>

<form th:action="@{/reservations/edit/submit/{id}(id=${reservation.id})}" method="post">
    <div>
        <label> Vardas-Pavardė: </label>
        <input type="text" id="customerName" name="customerName" th:value="${reservation.customerName}" required>

        <label>Data: </label>
        <input type="date" id="date" name="date" th:value="${reservation.date}" required>

        <label>Žmonių skaičius: </label>
        <input type="number" id="people" name="people" th:value="${reservation.people}" min="1" required>

        <button type="submit">Išsaugoti pakeitimus</button>

        <button th:href="@{/reservations/view/{id}(id=${reservation.id})}">Atšaukti redagavimą</button>
    </div>
</form>

</body>
</html>
