<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rezervacijų sąrašas</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div th:insert="~{fragments/navbar}"></div>
<h1>Rezervacijų sąrašas</h1>
<div >
    <table >
        <thead>
        <tr>
            <th>Rezervacijos Nr</th>
            <th>Klientas</th>
            <th>Rezervacijos pradzia</th>
            <th>Rezervacijos pabaiga</th>
            <th>Staliukas</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="reservation : ${reservations}">
            <td th:text="${reservation.rezervacija}"></td>
            <td th:text="${reservation.klientas.slapyvardis}"></td>
            <td th:text="${reservation.pradzia}"></td>
            <td th:text="${reservation.pabaiga}"></td>
            <td th:text="${reservation.staliukas.staliukas}"></td>
            <td>
                <button th:onclick="|window.location='@{/reservations/view/{id}(id=${reservation.rezervacija})}'|"
                        >Peržiūrėti</button>

            </td>
        </tr>
        </tbody>
    </table>

    <div class="center-actions">
        <button th:onclick="|window.location='@{/reservations/create}'|"
                >Kurti naują rezervaciją</button>
    </div>

    <div th:if="${info}">
        <p th:text="${info}"></p>
    </div>
</div>
</body>
</html>