<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rezervacijos</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div th:insert="~{fragments/navbar}"></div>
<h1>Rezervacijos informacija</h1>
    <table >
        <thead>
        <tr>
            <th>Rezervacijos Nr</th>
            <th>Vardas-Pavardė</th>
            <th>Rezervavimo data</th>
            <th>Rezervuota žmonių</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${reservation.id}"></td>
            <td th:text="${reservation.customerName}"></td>
            <td th:text="${reservation.date}"></td>
            <td th:text="${reservation.people}"></td>
            <td>
                <button th:onclick="|window.location='@{/reservations/edit/{id}(id=${reservation.id})}'|"
                        style="border: 2px solid #04AA6D;" class="view-button">Redaguoti rezervaciją</button>
            </td>
            <td>
                <button th:onclick="|window.location='@{/reservations/delete/confirm/{id}(id=${reservation.id})}'|"
                        style="border: 2px solid #04AA6D;" class="view-button">Ištrinti rezervaciją</button>
            </td>
        </tr>
        </tbody>
    </table>

        <!--<form th:action="@{/reservations/delete/{id}(id=${reservation.id})}" method="post" style="display: inline;">
        //    <button type="submit" onclick="return confirm('Ištrinti rezervaciją?');">
        //        Ištrinti rezervaciją
        //   </button>
        //</form> -->


    <a href="/reservations"><button>Gryžti į sarašą</button></a>
</body>
</html>