<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rezervacijos</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div th:replace="~{fragments/navbar}"></div>

<div class="container">
    <h1>Rezervacijos Peržiūra</h1>
    <div class="order-details">
        <p><strong>Klientas:</strong> <span th:text="${reservation.klientas.slapyvardis}"></span></p>
        <p><strong>Rezervacijos Nr.:</strong> <span th:text="${reservation.rezervacija}"></span></p>
        <p><strong>Rezervacijos pradžia:</strong> <span th:text="${#temporals.format(reservation.pradzia, 'yyyy-MM-dd HH:mm')}"></span></p>
        <p><strong>Rezervacijos pabaiga:</strong> <span th:text="${#temporals.format(reservation.pabaiga, 'yyyy-MM-dd HH:mm')}"></span></p>
        <p><strong>Staliukas:</strong> <span th:text="${reservation.staliukas.staliukas}"></span></p>
        <p><strong>Žmonių:</strong> <span th:text="${reservation.zmoniuKiekis}"></span></p>
        <p><strong>Pageidavimas:</strong> <span th:text="${reservation.pageidavimas}"></span></p>
    </div>
    <div class="center-actions">
        <a th:href="@{/reservations/edit/{id}(id=${reservation.rezervacija})}">Redaguoti rezervaciją</a>
        <a th:href="@{/reservations/delete/{id}(id=${reservation.rezervacija})}">Ištrinti rezervaciją</a>
        <a href="/reservations">Grįžti</a>
    </div>
</div>

</body>
</html>