<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Day Request Review</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div th:insert="~{fragments/navbar}"></div>
<div class="container">
    <h2>Laisvu Dienu prasymai</h2>

    <table class="form-table">
        <thead>
        <tr>
            <th>Vardas Pavarde</th>
            <th>Pradžios Data</th>
            <th>Pabaigos Data</th>
            <th>Priežastis</th>
            <th>Veiksmai</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="form : ${forms}">
            <td th:text="${form.fkDarbuotojas.getUser().vardas + form.fkDarbuotojas.getUser().pavarde}">Zmogus</td>
            <td th:text="${form.pradziosData}">Pradžios Data</td>
            <td th:text="${form.pabaigosData}">Pabaigos Data</td>
            <td th:text="${form.priezastis}">Priežastis</td>
            <td>
                <form th:action="@{/day-request/accept}" method="post">
                    <input type="hidden" name="formId" th:value="${form.id}"/>
                    <button type="submit" class="form-button">Priimti</button>
                </form>
                <form th:action="@{/day-request/reject}" method="post">
                    <input type="hidden" name="formId" th:value="${form.id}"/>
                    <button type="submit" class="form-button">Atmesti</button>

                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="request-list">
        <div th:each="form : ${acceptedForms}" class="request-item">
            <spam th:text="${form.fkDarbuotojas.getUser().vardas + ' ' + form.fkDarbuotojas.getUser().pavarde}"></spam>
            <span th:text="${form.getPradziosData()}"></span>
            <span th:text="${form.getPabaigosData()}"></span>
            <span th:text="${form.getPriezastis()}"></span>
            <span th:text="${form.getStatusas()}"></span>
        </div>
    </div>

    <a th:href="@{/}" class="back-link">Atgal į pagrindinį puslapį</a>
</div>
</body>
</html>