<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Prašymas dėl atostogų</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div th:include="fragments/navbar"></div>
<div class="container">
  <h2>Prašymas dėl atostogų</h2>
  <form action="/" method="get" class="request-form">
    <div class="form-group">
      <label for="dateFrom">Pasirinkite dieną (nuo):</label>
      <input type="date" id="dateFrom" name="dateFrom" required>
    </div>
    <div class="form-group">
      <label for="dateTo">Pasirinkite dieną (iki):</label>
      <input type="date" id="dateTo" name="dateTo" required>
    </div>
    <button class="submit-button">Pateikti prašymą</button>
  </form>
  <a th:href="@{/}">Atgal į sarašą</a>
</div>

</body>
</html>
