<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Darbo Grafikas - Savaitė</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div th:insert="~{fragments/navbar}"></div>
<div class="container">
    <h1>Darbo Grafikas - Savaitė <span th:text="${id}"></span></h1>

    <table class="schedule-table">
        <thead>
        <tr>
            <th>Darbuotojas</th>
            <th>Diena</th>
            <th>Pradžios Laikas</th>
            <th>Pabaigos Laikas</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="detail : ${scheduleDetails}">
            <td th:text="${detail.employeeName}"></td>
            <td th:text="${detail.workDay}"></td>
            <td th:text="${detail.startTime != null ? #temporals.format(detail.startTime, 'yyyy-MM-dd HH:mm') : 'N/A'}"></td>
            <td th:text="${detail.endTime != null ? #temporals.format(detail.endTime, 'yyyy-MM-dd HH:mm') : 'N/A'}"></td>

        </tr>

        </tbody>
    </table>

    <form action="/work-schedule" method="get" class="back-form">
        <button class="submit-button">Grįžti į savaitės apžvalgą</button>
    </form>
</div>
</body>
</html>
