<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Darbo Grafikas - Savaitė</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div class="container">
    <h1>Darbo Grafikas - Savaitė <span th:text="${weekNumber}"></span></h1>

    <div class="container">
        <div class="edit-order" th:each="entry, iter : ${schedule}">
            <p th:text="${entry}" class="week-header"></p>
        </div>
    </div>

    <form action="/work-schedule" method="get" class="back-form">
        <button class="submit-button">Grįžti į savaitės apžvalgą</button>
    </form>
</div>

</body>
</html>
