<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Darbuotojų darbo grafikas</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script>
        function confirmRemove(id) {
            window.location.href = "/work-schedule/week/" + id + "/confirm-remove";
        }
    </script>
</head>
<body>
<div th:insert="~{fragments/navbar}"></div>
<div class="container">

    <h2>Darbuotojų darbo grafikas</h2>

    <!-- Loop through workSchedules to dynamically generate week sections -->
    <div th:each="workSchedule : ${workSchedules}">
        <span class="week-header" th:text="'Savaitė: ' + ${workSchedule.id}">Savaitė</span>
        <button type="button" class="view-button"
                th:data-url="@{'/work-schedule/week/' + ${workSchedule.id}}"
                onclick="window.location.href=this.getAttribute('data-url')">Peržiūrėti</button>
        <button type="button" class="view-button"
                th:if="${isAdmin}"
                th:data-url="@{'/work-schedule/week/' + ${workSchedule.id} + '/edit'}"
                onclick="window.location.href=this.getAttribute('data-url')">Redaguoti</button>
        <button th:onclick="'confirmRemove(' + ${workSchedule.id} + ')'" th:if="${isAdmin}"  class="view-button">Šalinti</button>
    </div>

    <form action="/work-schedule/week/generate" method="post">
        <button type="submit" th:if="${isAdmin}">Generuoti Savaitės grafiką</button>
        <a href="/" class="cancel-link">Grįžti atgal</a>
    </form>
</div>

</body>
</html>