<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Darbuotojų darbo grafikas</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script>
        function confirmRemove(weekNumber) {
            window.location.href = "/work-schedule/week/" + weekNumber + "/confirm-remove";
        }
    </script>
</head>
<body>
<div th:include="fragments/navbar"></div>
<div class="container">

    <h2>Darbuotojų darbo grafikas</h2>

    <div class="edit-order">
        <span class="week-header">Pirma savaitė</span>
        <button type="button" class="view-button"
                th:data-url="@{/work-schedule/week/1}"
                onclick="window.location.href=this.getAttribute('data-url')">Peržiūrėti</button>
        <button type="button" class="view-button"
                th:data-url="@{/work-schedule/week/1/edit}"
                onclick="window.location.href=this.getAttribute('data-url')">Redaguoti</button>
        <button onclick="confirmRemove(1)" class="view-button">Šalinti</button>
    </div>

    <div class="edit-order">
        <span class="week-header">Antra savaitė</span>
        <button type="button" class="view-button"
                th:data-url="@{/work-schedule/week/2}"
                onclick="window.location.href=this.getAttribute('data-url')">Peržiūrėti</button>
        <button type="button" class="view-button"
                th:data-url="@{/work-schedule/week/2/edit}"
                onclick="window.location.href=this.getAttribute('data-url')">Redaguoti</button>
        <button onclick="confirmRemove(2)" class="view-button">Šalinti</button>
    </div>


    <button type="button" class="view-button">Generuoti Savaitės grafiką</button>

    <form action="/" method="get" class="back-form">
        <button class="submit-button">Grįžti atgal</button>
    </form>
</div>

</body>
</html>
